<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="layout"> -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
   
<head>
    <meta charset="UTF-8">
    <title th:replace="layout :: title">Product Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>
<style>
    .search-box {
        margin-bottom: 15px;
    }
    .table-container {
        margin-top: 20px;
    }
    .btn-primary, .btn-danger {
        margin-right: 5px;
    }
    
</style>
<body>
<div th:fragment="content" class="mt-5">
    <h2>Product Management</h2>
    <div class="search-box">
        <form th:action="@{/products}" method="get">
            <div class="row">
                <div class="col-11 m-0 p-0">
                    <input type="text" name="productName" class="form-control w-100" placeholder="Search product by name..."th:value="${productName}">
                </div>
                <div class="col-1 m-0 p-0">
                    <button type="submit" class="btn btn-primary float-right w-100">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        
        <div class="table-responsive">
           
            <table class="table table-bordered">
                <thead style="text-align: center">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                    <!-- Example static data -->
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>  
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                             <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary">Edit</a>
                             <!-- <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a> -->
                             <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a th:href="@{/products/addProduct}" class="btn btn-primary float-right">
        <i class="bi bi-plus"></i> Add 
    </a>
</div>
</body>
</html>