<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}"> -->
    <html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<head>
    <title>User Form</title>
</head>
<body class="bg-dark">
    <div th:fragment="content" class="mt-5">
        <h3>Add New User</h3>
        <!-- <h2 th:text="${user.id} == null ? 'Add New User' : 'Edit User'"></h2> -->
        <form th:action="@{/users/save}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}"  placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="number" class="form-control" id="number" th:field="*{phone}"  placeholder="Enter phone number">
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <input type="role" class="form-control" id="role" th:field="*{role}"  placeholder="Enter role">
            </div>
            <div class="form-group">
                <label for="createdBy">Created By</label>
                <input type="text" class="form-control" id="createdBy" th:field="*{createdBy}"  placeholder="Enter creater">
            </div>
            <div class="form-group">
                <label for="createdDate">Created Date</label>
                <input type="date" class="form-control" id="createdDate" th:field="*{createdDate}">
            </div>
            <div class="form-group">
                <label for="updatedBy">Update By</label>
                <input type="text" class="form-control" id="updatedBy" th:field="*{updatedBy}"  placeholder="Enter updater">
            </div>
            <div class="form-group">
                <label for="updatedDate">Updated Date</label>
                <input type="date" class="form-control" id="updatedDate" th:field="*{updatedDate}">
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
            <a th:href="@{/users}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>