<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="layout"> -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
   
<head>
    <meta charset="UTF-8">
    <title th:replace="layout :: title">User Management</title>
</head>
<body class="bg-dark">
<div th:fragment="content" class="mt-5">
    <h2>User Management</h2>
    <a th:href="@{/users/addUser}" class="btn btn-primary">Add User</a>
    <div class="table-container">
        <div class="table-responsive">
           
            <table class="table table-bordered table-hover">
                <thead style="text-align: center">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Updated By</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                    <!-- Example static data -->
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>  
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:text="${user.role}"></td>
                        <td th:text="${user.createdBy}"></td>
                        <td th:text="${user.createdDate}"></td>
                        <td th:text="${user.updatedBy}"></td>
                        <td th:text="${user.updatedDate}"></td>
                        <td>
                             <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                             <!-- <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a> -->
                             <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>