<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Product</title>
    <style>
        .myfont > p {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 10px !important;
          font-weight: bold;
        }
        
        .pagenumber {
            /* display: flex;
            justify-content: center !important; */
            text-align: center;
            font-size: 30px !important;
        }
      </style>
</head>
<body>
    <div th:fragment="products" class="container" >
        <div class="d-flex align-items-center bg-gradient-dark"> 
            <div class="p-1">         
                <a href="#allproduct" class="dropdown-item mb-0 fw-bold">Product</a> 
            </div> 
            <div class="p-1">
                <div class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" type="button" id="modelDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:href="@{/getallmodel}">
                        Model
                    </a>
                    <div class="dropdown-menu" aria-labelledby="modelDropdown">
                        <a href="#allmodel" class="dropdown-item">All</a>
                        <a class="dropdown-item" th:each="model : ${promodel}" th:href="@{/products/productmodel/{modelId}(categoryId=${model.model_id})}" th:text="${model.model_name}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="allproduct">
            <div th:each="product : ${products}" class="col-md-3 col-sm-4 my-3">
                <div class="card shadow h-100 w-100">
                <a th:href="@{/products/details/{id}(id=${product.product_id})}">
                    <div class="card-body h-100 w-100 ">
                    <div>
                        <img th:src="${product.image_url}" class="h-100 w-100" alt="Product Image">
                    </div>
                    <div class="p-2 text-dark fw-bold">
                        <p>Name: <span th:text="${product.pro_name}"></span></p>
                        <p>Price: $<span th:text="${product.sale_price}"></span></p>
                    </div>
                    </div>
                </a>
                <div class="card-footer">
                    <form th:action="@{/cart/add}" method="post" class="btn-sm text-center">
                    <input type="hidden" th:name="product_id" th:value="${product.product_id}" />
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-cart-plus"></i> Add to Cart
                    </button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <!-- <div class="pagenumber">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/?pageNumber=${currentPage}&pageSize=${pageSize}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li th:each="pageNum : ${#numbers.sequence(0, totalPages-1)}" th:class="${pageNum == currentPage} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/?pageNumber=${pageNum}&pageSize=${pageSize}}" th:text="${pageNum + 1}"></a>
                </li>
                <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/?pageNumber=${currentPage+1}&pageSize=${pageSize}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> -->
    <div class="pagenumber">
        <nav aria-label="Page navigation">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-6">
                    <ul class="pagination text-center">
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/products(pageNumber=${currentPage - 1}, pageSize=${pageSize})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        
                        <li th:each="pageNum : ${#numbers.sequence(0, totalPages-1)}" th:class="${pageNum == currentPage} ? 'page-item active' : 'page-item'">
                            <a class="page-link" th:href="@{/products(pageNumber=${pageNum}, pageSize=${pageSize})}" th:text="${pageNum + 1}"></a>
                        </li>
                        
                        <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/products(pageNumber=${currentPage + 1}, pageSize=${pageSize})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                     </ul>
                </div>
                <div class="col-2"></div>
            </div>
        </nav>
    </div>

    <script>
        $('.pagination a').click(function(event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.ajax({
                url: href,
                success: function(data) {
                // Replace content with the new data
                $('#products').html(data); // Replace with your content container
                }
            });
        });
    </script>
</body>
</html>